
<ul class="tab">
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Motoring')">Motoring</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'News')">News</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Services')">Services</a></li>
</ul>

<div id="Motoring" class="tabcontent">
  <h3>Motoring</h3>
  <div class="motoring">
  <img src="" alt="" style="width:200%">
  <div class="container">
    <div class="col-md-4" ng-repeat="product in products">
	<div class="panel panel-primary">
		<div class="panel-heading">{{product.name}}</div>
		
		<div class="panel-body">
				<h4>
					Product Name:{{product.name}}
					<br>
					Price: £ {{ product.price }}
					<span>
					<img ng-src="{{product.image}}"></img>
				</h4>
				<div>
					<button class="btn btn-primary" ng-click="buyme(product)">View Details</button>
					<button class="btn btn-primary" ng-click="buyme(product)">Buy me</button>

				</div>
		</div>

	</div>
</div>
  </div>
</div>

 

<div id="News" class="tabcontent">
  <h3>News</h3>
  <p>News</p> 
</div>

<div id="Services" class="tabcontent">
  <h3>Services</h3>
  <p>Services</p>
</div>



