
<ul class="tab">
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'EngineOil')" id="defaultOpen">Engine Oil</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Brakes')">Brakes</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Batteries')">Batteries</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Bulbs')">Bulbs</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Wheels')">Wheels</a></li>
	<li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Gears')">Gears</a></li>
	<li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Lubrication')">Lubrication</a></li>
</ul>

<div id="EngineOil" class="tabcontent">
  <h3>Engine Oil</h3>	

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Castrol</a></li>
    <li><a data-toggle="tab" href="#menu1">Shell</a></li>
  </ul>

  <div id="Castrol" class="tabcontent">
  <h3>Castrol</h3>
  </div>

  <img src="" alt="" style="width:200%">
  <div class="container">
    <div class="col-md-4" ng-repeat="product in products">
		<div class="panel panel-primary">
				<div class="panel-heading">{{product.name}}</div>
				
					<div class="panel-body">
						<h4>
							Product Name:{{product.name}}
							<br>
							Price: £ {{ product.price }}
							<span>
							<img ng-src="{{product.image}}"></img>
						</h4>
						<div>
							<button class="btn btn-primary" ng-click="buyme(product)">View Details</button>
							<button class="btn btn-primary" ng-click="buyme(product)">Add to cart</button>
							

						</div>
					</div>

				</div>
		</div>
  </div>
</div>




 

<div id="Brakes" class="tabcontent">
  <h3>Brakes</h3>
<div class="Brakes">
  <img src="" alt="" style="width:200%">
  <div class="container">
    <div class="col-md-4" ng-repeat="product in products">
	<div class="panel panel-primary">
		<div class="panel-heading">{{product.name}}</div>
		
		<div class="panel-body">
				<h4>
					Product Name:{{product.name}}
					<br>
					Price: £ {{ product.price }}
					<span>
					<img ng-src="{{product.image}}"></img>
				</h4>
				<div>
					<button class="btn btn-primary" ng-click="buyme(product)">View Details</button>
					<button class="btn btn-primary" ng-click="buyme(product)">Add to cart</button>

				</div>
		</div>

	</div>
</div>
  </div>
</div>

<div id="Services" class="tabcontent">
  <h3>Services</h3>
  <p>Services</p>
</div>






